 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>some</title>
</head>

<body>
<p>Content of the {{pageTitle}} document</p>
    
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>

</html>