 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{pageTitle}}</title>
</head>

<body>
<p>Content of the {{pageTitle}} document, dont know what to write</p>
    
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>

</html>