 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{pageTitle}}</title>
</head>

<body>
    <p>Content of the {{message}} page</p>
    <p>List of projects in this page</p>
    <footer>
        <p>Copyright {{pageTitle}}</p>
    </footer>
</body>

</html>